In [4]:
import pandas as pd

df = pd.read_csv('./data/stackexchange_812k.csv')

In [5]:
df.head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title

In [6]:
# remove HTML tags with regular expression on dataframe column text
df['text'] = df['text'].str.replace('<[^<]+?>', '')

# remove Latex tags with regular expression on dataframe column text
df['text'] = df['text'].str.replace('\$[^\$]+?\$', '')

# remove urls with regular expression on dataframe column text
df['text'] = df['text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '')

# remove digits with regular expression on dataframe column text
df['text'] = df['text'].str.replace('\d+', '')

# remove line returns with regular expression on dataframe column text
df['text'] = df['text'].str.replace('\n', '')

/var/folders/84/6vx8lc2j0qx9grccw3440b6r0000gq/T/ipykernel_36471/3212965010.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('<[^<]+?>', '')
/var/folders/84/6vx8lc2j0qx9grccw3440b6r0000gq/T/ipykernel_36471/3212965010.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\$[^\$]+?\$', '')
/var/folders/84/6vx8lc2j0qx9grccw3440b6r0000gq/T/ipykernel_36471/3212965010.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '')
/var/folders/84/6vx8lc2j0qx9grccw3440b6r0000gq/T/ipykernel_36471/3212965010.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\d+', '')

In [7]:
# Remove texts that contain blanks only in dataframe column text
df['text'] = df['text'].str.replace('^\s+$', '')

/var/folders/84/6vx8lc2j0qx9grccw3440b6r0000gq/T/ipykernel_36471/1087388780.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('^\s+$', '')

In [8]:
df.head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title

In [9]:
# Remove texts that are too short to add any information to the model.
df = df[df['text'].str.len() > 10]

# Remove texts that are too long to add any information to the model.
df = df[df['text'].str.len() < 1000]

In [10]:
# Use a tokenizer to create a version of the original text that is a string of space-separated lowercase tokens
from nltk.tokenize import word_tokenize

# tokenize the text column
df['text'] = df['text'].apply(word_tokenize)

In [11]:
# Export the resulting DataFrame into a CSV file
df.to_csv('./data/stackexchange_812k_cleaned.csv', index=False)